MONGO_URI=MONGO_URI=mongodb+srv://tesfayekelbesa912_db_user:tesfayedb123@central-db.qmqmwpg.mongodb.net/mesob_sululta_branch?appName=Central-Db
JWT_SECRET=43dd40884447c7fd8ebe2c7b299b191106a119306e1cc75aaca82aeca0e52cdc

PORT=5000